<div style="text-align:center">
  <h1>Bem vindo à sua {{ title }}!</h1>
  <img width="300" alt="Angular Logo" src="https://angular.io/assets/images/logos/angular/angular.svg">
</div>
<h2>Links úteis para começar:</h2>
<ul>
  <li><a href="https://angular.io/tutorial" target="_blank">Tour of Heroes</a></li>
  <li><a href="https://github.com/angular/angular-cli/wiki" target="_blank">Documentação CLI</a></li>
  <li><a href="https://blog.angular.io/" target="_blank">Blog do Angular</a></li>
</ul>
